.info-card {

    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    display: flex; 
    align-items: center; 
    transition: transform 0.2s ease; 
    margin-bottom: 20px; 
    max-width: 48%;
    flex-wrap: nowrap;
}

.info-card:hover {
    transform: translateY(-5px); 
}

.card-image {
    width: 60px; 
    height: 60px; 
    margin-right: 20px; 
    border-radius: 8px; 
    object-fit: cover; 
}

.card-content {
    display: flex;
    flex-direction: column; 
}

.card-title {
    font-size: 1.5em; 
    margin-bottom: 10px; 
    font-weight: 600; 
    color: #b39ddb; 
}

.card-text {
    font-size: 1em; 
    color: #000; 
    margin-bottom: 10px; 
}

.card-link {
    color: #b39ddb; 
    font-weight: 600; 
    text-decoration: none; 
    margin-top: auto; 
}

.card-link:hover {
    text-decoration: underline; 
}

.info-cards-container {
    display: flex;
    justify-content: space-between; 
    gap: 0px; 
    flex-wrap: nowrap; 

}