.sidebar {
    width: 250px;
    height: 90vh; /* Etwas kleiner als die volle Höhe, damit es wie ein schwebendes Panel aussieht */
    background-color: #2e2a7266;
    color: white;
    transition: width 0.3s ease, height 0.3s ease;
    position: fixed;
    top: 5vh; /* Zentriert die Sidebar vertikal */
    left: 20px; /* Abstand von der linken Seite */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Inhalte oben ausrichten */
    border-radius: 15px; /* Runde Ecken hinzufügen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten für schwebenden Effekt */
    z-index: 1000; /* Sicherstellen, dass die Sidebar über dem Inhalt liegt */
}

.sidebar.collapsed {
    width: 80px;
    height: 90vh; /* Höhe beibehalten, wenn die Sidebar kollabiert */
}

.logo {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.logo img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}
.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu-item {
    align-items: center; /* Zentriert Icon und Text vertikal */
    padding: 15px 20px; /* Gleichmäßiges Padding innen */
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease; /* Sanfter Übergang für Hintergrund und Textfarbe */
}

.menu-item i {
    font-size: 24px;
    margin-right: 20px;
}

.menu-item span {
    flex-grow: 1; /* Stellt sicher, dass der Text den verbleibenden Platz nutzt */
    text-align: left; /* Text linksbündig ausrichten */
}

.menu-item:hover {
    background-color: rgba(46, 42, 114, 0.3); /* Blauer und transparenter Hintergrund bei Hover */
    color: #fff; /* Textfarbe ändert sich bei Hover */
}

.menu-item span {
    opacity: 1;
    transition: opacity 0.3s ease; /* Sanfter Übergang für die Opazität */
}


.sidebar.collapsed .menu-item span {
    opacity: 0;
}

.toggle-btn {
    margin-top: auto;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.icon-overview::before { content: "\f015"; }
.icon-news::before { content: "\f0f6"; }
.icon-conversations::before { content: "\f086"; }
.icon-functions::before { content: "\f013"; }
.icon-toggle::before { content: "\f00d"; }

.icon-overview,
.icon-news,
.icon-conversations,
.icon-functions,
.icon-toggle {
    font-family: FontAwesome;
    font-size: 24px;
}
