.App {
    display: flex; 
    justify-content: center;
    height: 100vh; 
    align-items: stretch; 
    
}

.App.collapsed .content-box {
    margin-left: 80px; 
    max-width: calc(100% - 80px); 
}
